{% extends 'base.html' %}

{% block content %}
    <h2>{{ clase.nombre }}</h2>
    <p>Creada por: {{ clase.creador.name }}</p>

    {% if clase.imagen %}
        <img src="{{ clase.imagen.url }}" alt="{{ clase.nombre }}">
    {% endif %}

    <h3>Usuarios en esta clase ({{ clase.creador_set.count }}):</h3>
    <ul>
        {% for usuario in clase.creador_set.all %}
            <li>{{ usuario.name }}</li>
        {% endfor %}
    </ul>

    <!-- Aquí puedes añadir más información sobre la clase -->
{% endblock %}
